body {
 color: rgb(255, 255, 255);
 background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/42818355-8-bits-pixel-grafico-azul-ceu-fundo-com-nuvens-vetor.jpg!');
  
}
h1 {
    text-align: center;    
}